[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-ma = {editable = true, git = "https://github.com/vladz/py_ma.git"}
alembic = "==1.0.0"
flask = "==1.0.2"
flask-sqlalchemy = "==2.3.1"
requests = "==2.19.1"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.7"
